@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f7fa;
  color: #333;
}